<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/fragments-fe::head">
</head>

<body>

<div th:replace="/fragments/fragments-fe::headerWrap"></div>

<div th:replace="/fragments/fragments-fe::siteBanner"></div>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="accordion">
                    <div th:if="${check}" class="text-center alert-warning">
                        <p th:text="${check}"></p>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-body">
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th scope="col">Books bag</th>
                                    <th scope="col">Borrow At</th>
                                    <th scope="col">Borrow At</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Deposit(Price)</th>
                                    <th scope="col">Borrow(Price)</th>
                                    <th scope="col" width="10%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cartItem : ${shoppingCart.cartItem}">
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img th:src="*{'data:image/jpeg;base64,' + cartItem.book.image}"
                                                 class="img-fluid rounded-3"
                                                 style="width: 90px;" alt="Book">
                                            <div class="flex-column ms-4">
                                                <p class="mb-2" th:text="${cartItem.book.title}"></p>
                                                <p class="mb-0" th:text="${cartItem.book.author}"></p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <label for="borrowedAt">Borrowed at</label>
                                        <input type="datetime-local" id="borrowedAt" name="borrowedAt">
                                    </td>
                                    <td class="align-middle">
                                        <label for="returnAt">Return at</label>
                                        <input type="datetime-local" id="returnAt" name="returnAt">
                                    </td>
                                    <form th:action="@{/library/update-cart}" method="post">
                                        <input type="hidden" th:name="'id'" th:value="${cartItem.book.id}"/>
                                        <td class="align-middle">
                                            <div class="d-flex flex-row">
                                                <input id="form1" min="0" name="quantity" type="number"
                                                       th:value="${cartItem.quantity}"
                                                       class="form-control form-control-sm m-4" style="width: 50px;"/>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <p class="mb-0" style="font-weight: 500;"
                                               th:text="${cartItem.book.price} * ${cartItem.quantity}  + '₫'"></p>
                                        </td>
                                        <td class="align-middle">
                                            <p class="mb-0" style="font-weight: 500;"
                                               th:text="${cartItem.book.borrowPrice} * ${cartItem.quantity} + '₫' "></p>
                                        </td>
                                        <td>
                                            <button type="submit" name="action" value="update" title="Update">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                            <button type="submit" name="action" value="delete" title="Delete">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="accordion-body row">
                            <form th:action="@{/library/checkout}">
                                <div class="col-md-4">
                                    <label for="totalDeposit">Total Deposit:</label>
                                    <h3 th:text="${depositTotal} + '₫'" id="totalDeposit"></h3>
                                </div>
                                <div class="col-md-4">
                                    <label for="totalRent"> Total Rent:</label>
                                    <h3 th:text="${rentTotal} + '₫'" id="totalRent"></h3>
                                </div>
                                <div class="col-md-4">
                                    <input class="button-primary" type="submit" value="Checkout">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="/fragments/fragments-fe::footer"></div>
<div th:replace="/fragments/fragments-fe::footerBottom"></div>
<div th:replace="/fragments/fragments-fe::script"></div>

</body>

</html>