<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
</head>
<head th:replace="/fragments/fragments-be::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/fragments-be::sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="/fragments/fragments-be::topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcum-items">
                                        <span class="item"><a th:href="@{/admin/books}"
                                                              href="index.html">Book list /</a></span>
                            <span class="item colored" th:text="${title}"></span>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-900" th:text="${title}"></h1>

                        <div class="row">
                            <div class="col col-5">
                                <img
                                        style="height: 450px; width: 450px;"
                                        th:src="*{'data:image/*;base64,' + book.image}">
                            </div>
                            <div class="col col-7">
                                <h3 style="color: #0c0c0c" th:text="${book.title}"></h3>
                                <p th:text="'Author: ' + ${book.author}"></p>
                                <p th:text="'Publisher: ' + ${book.publisher}"></p>
                                <p th:text="'Language: ' + ${book.language}"></p>
                                <p th:text="'Category: ' + ${book.category.name}"></p>
                                <!--                                <p th:text="'Amount: ' + ${book.amount}"></p>-->
                                <p th:text="'Price: ' + ${book.price}"></p>
                                <p th:text="'Borrow Price: '+ ${book.borrowPrice}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="p-3">
                                <label class="card-text" style="color: #0c0c0c; font-size: 20px">Description:</label>
                                <p th:utext="${book.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="/fragments/fragments-be::footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="/fragments/fragments-be::logoutModal"></div>
<!-- Bootstrap core JavaScript-->
<div th:replace="/fragments/fragments-be::script"></div>


</body>

</html>