<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/fragments-be::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/fragments-be::sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="/fragments/fragments-be::topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcum-items">
                                        <span class="item"><a th:href="@{/admin/categories}"
                                                              href="index.html">Category list /</a></span>
                            <span class="item colored" th:text="${title}"></span>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800 text-center" th:text="${title}"></h1>

                        <!-- Add Modal: Add new category -->
                        <form th:action="@{/category/add}" method="post"
                              th:object="${category}" class="pl-5 pr-5">
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <label for="recipient-name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" th:field="*{name}"
                                               id="recipient-name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a type="button" th:href="@{/admin/categories}" class="btn btn-secondary" data-dismiss="modal">Close
                                </a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="/fragments/fragments-be::footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="/fragments/fragments-be::scroll">
</a>

<!-- Logout Modal-->
<div th:replace="/fragments/fragments-be::logoutModal"></div>
<!-- Bootstrap core JavaScript-->
<div th:replace="/fragments/fragments-be::script"></div>

</body>

</html>